{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}

    {% for elt in panier %}
        <div>
        {{ elt.produit.nom }}
        <br>
                <a class="btn btn-vert text-white" href="/panier/del/{{ elt.produit.id }}">--</a>
        {{ elt.quantite }}
        <a class="btn btn-vert text-white" href="/panier/add/{{ elt.produit.id }}">++</a>
        </div>
    {% endfor %}

{% endblock %}