.custom-link {
    color: black;
    text-decoration: none;
}

.custom-link:hover,
.nom_article,
.supprimer,
.lien {
    color: #06663e;
}

.carousel-indicators .active.bg-custom,
.btn-vert,
.badge{
    background-color: #06663e !important;
}

.form-control:focus, .form-select:focus {
    border-color: #06663e;
    box-shadow: 0 0 0 0.25rem rgba(6, 102, 62, 0.25);
}

input[type="radio"].form-check-input:checked {
		background-color: #06663e !important;
        border-color: #06663e;
	}

input[type="radio"].form-check-input:focus {
		box-shadow: 0 0 0 0.2rem rgba(6, 102, 62, 0.25);
		border-color: #06663e;
	}




.rubrique {
    height: 325px;
}

.header {
    height: 60px;
}

.produit {
    height: 15rem;
}

.card-img-top {
    filter: grayscale(100%);
    height: 90%;
}

.card-body {
    height: 10%;
}

.carousels {
    height: 200px;
}

.image {
    height: 30rem;
}

.description {
    height: 20rem;
}

.quantite {
    width: 5rem;
}

.produits_img {
    width: 30%;
}

.col-2.point5 {
    width: 20%;
}


@media (min-width: 992px) {
    .image {
        width: 30% !important;
    }
}