{% extends 'base.html.twig' %}

{% block title %}Modifier le produit : {{produit.nom}}
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h2>Modifier le produit</h2>

		{{ form_start(form) }}
		{{ form_end(form) }}

	</div>
{% endblock %}
