{% extends 'base.html.twig' %}

{% block title %}Modifier la rubrique : {{rubrique.nom}}
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h2>Modifier la rubrique</h2>

		{{ form_start(form) }}
		{{ form_end(form) }}

	</div>
{% endblock %}
