{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			{% for categorie in categories %}
				<div class="col-4 my-5 d-flex justify-content-center">
					<a href="#" class="card text-decoration-none custom-link">
						<img src="{{categorie.photo}}" class="card-img-top object-fit-cover" alt="{{categorie.nom}}">
						<div class="card-body p-0">
							<p class="card-text text-center text-uppercase bg-secondary-subtle d-flex align-items-center justify-content-center">{{categorie.nom}}</p>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
