{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			{% for rubrique in rubriques %}
				<div class="col-12 col-lg-4 my-2 my-lg-5 d-flex justify-content-center">
					<a href="{{ path('app_sous_rubriques', { rubrique: rubrique.id}) }}" class="card rubrique text-decoration-none custom-link w-100">
						<img src="{{rubrique.photo}}" class="card-img-top object-fit-cover" alt="{{rubrique.nom}}">
						<div class="card-body p-0">
							<p class="card-text text-center text-uppercase bg-secondary-subtle d-flex align-items-center justify-content-center h-100">{{rubrique.nom}}</p>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
